
        body {
    display: flex;
    height: 100vh;
}



.container {
    transition: transform 0.2s ease-out;
    transform-style: preserve-3d;
    position: relative;
    margin: auto;
    display: block;
    height: 700px;
    width: 600px;
    background-color: rgb(206, 200, 200);
}

#img1 {
    position: relative;
    top: 140px;
    border-radius: 50%;
    border: 4px solid rgb(226, 210, 210);
    margin: auto;
    display: block;
    height: 200px;
    width: 200px;
    background-color: rgb(65, 40, 40);
}
