* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4f9eb;
}

.card {
    width: 900px;
    min-height: 520px;
    display: flex;
    background: rgb(199, 212, 214);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

.left {
    width: 45%;
    position: relative;  
}

.left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.right {
    width: 55%;
    padding: 40px;
}

.right h2 {
    margin-bottom: 25px;
    font-size: 26px;
}

label {
    display: block;
    margin-top: 18px;
    font-size: 14px;
    font-weight: 600;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}


.terms {
    margin-top: 20px;
}

.terms label {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    font-size: 13px;
    line-height: 1.4;
    cursor: pointer;
}

.terms a {
    color: #3b5cff;
    text-decoration: none;
}


button {
    margin-top: 30px;
    padding: 12px 30px;
    background: #5b6fd6;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background: #4a5cc2;
}

.image-text {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: rgb(228, 237, 239);
}

.image-text h2 {
    font-size: 26px;
    margin: 0 0 6px 0;
}

.image-text p {
    margin: 0 0 10px 0;
    font-size: 15px;
}

.image-text span {
    font-size: 22px;
    font-weight: bold;
}