#header1 {
    color: rgb(217, 254, 4);
    text-align: left;
}

#header2 {
    color: rgb(247, 6, 6);
    text-align: left;
}

#header3,
#header4,
#header5 {
    color: rgb(50, 13, 218);
    text-align: left;

}

#img1 { border-radius: 50%;

    
    margin: auto;
    display: block;
    height: 350px;
    width: 350px;
    box-shadow: 13px 13px 20px grey;
    background-color: rgb(65, 40, 40);
}